@import '../variables';

.product{
    display: flex;
}
.product--photo{
    width: 400px;
    max-height: 500px;
}

.product--specifications{
    width: 500px;
    padding-top: 30px;
    padding-left: 30px;
}
.product--property{
    display: flex;
    justify-content: space-between;
    border-bottom: dashed  #32a1ce;
    margin-top: 10px;
    p{
        border-bottom: none;
    }
}
