

.categories {
  @media (max-width: 820px) {
    display: grid;
    place-content: center;
    padding: 10px 0px 15px 0px;
    ul{
      width: 300px;
    }
}
  &--text {
    margin-left: 31px;
  }
  ul {
    display: block;
    max-width: 350px;
    padding-top: 0px;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 5px;
      margin-right: 0px;
      margin-top: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
   
    
      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #c33;
        color: #fff;
      }
    }
  }
}
.content__top{
  margin-top: 50px;
}