$black: #232323;
$background: #fff;
$gray-line: #f6f6f6;
$orange: #c03;

$container-width: 90%;

$duration: 0.15s;

$body-bg: #84a0f4;
$button-bg: #5c67ff;
$list-bg: #fff;
$text-color: #1c3991;
$text-color-hover: #5c67ff;
$menu-icon-transition: transform 300ms cubic-bezier(0.52, -0.80, 0.52, 0.52);